<h1>Burger It Up</h1>

<h2>Get Yo-Self a Burger</h2>
{{!-- list each burger not devoured --}}
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Demolished Burgers</h2>
{{!-- list each burger devoured --}}
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add Your Own Burger</h2>
<form class="create-form">
  {{!-- burger name input --}}
  <div class="form-group">
    <label for="burg">Burger Name:</label><br>
    <input type="text" id="burg" name="name" placeholder="type name here">
  </div>

  {{!-- Will call POST --}}
  <button type="submit">Add Burger</button>
</form>
